<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="AllTests" verbose="1" >
    <listeners>
        <listener class-name="skyfoxapp.extentreportlistners.ExtentReportListners" />
    </listeners>
    <test name="PositiveTests" >
        <parameter name="username" value="seed-user-1" />
        <parameter name="password" value="Skyfox@2" />
        <classes>
            <class name="skyfoxapp.testcases.loginpagetest.PositiveLoginTest"/>
        </classes>
    </test>
    <test name="NegativeUsernameTest">
        <parameter name="username" value="seed"/>
        <parameter name="password" value="Skyfox@123"/>
        <parameter name="expectedFailureMessage" value="Login failed"/>
        <classes>
            <class name="skyfoxapp.testcases.loginpagetest.NegativeLoginTest"/>
        </classes>
    </test>
    <test name="NegativePasswordTest">
        <parameter name="username" value="seed-user-1"/>
        <parameter name="password" value="foobar"/>
        <parameter name="expectedFailureMessage" value="Login failed"/>
        <classes>
            <class name="skyfoxapp.testcases.loginpagetest.NegativeLoginTest"/>
        </classes>
    </test>

    <test name="CustomerSignUpTestWithPositiveTestcases">
    <parameter name="name" value="aswini"></parameter>
    <parameter name="user_name" value="aswini4"></parameter>
    <parameter name="email_id" value="aswini@gmail.com"></parameter>
    <parameter name="mobile_num" value="9067834521"></parameter>
    <parameter name="pass" value="Aswini.1"></parameter>
    <parameter name="confirm_pass" value="Aswini.1"></parameter>
        <classes>
            <class name="skyfoxapp.testcases.customersignuptest.ValidatingAllFieldsPositiveTest"></class>
        </classes>
    </test>

    <test name="CustomerSignUpTestWithAllFieldRequired">
        <parameter name="name" value=""></parameter>
        <parameter name="user_name" value=""></parameter>
        <parameter name="email_id" value=""></parameter>
        <parameter name="mobile_num" value=""></parameter>
        <parameter name="pass" value=""></parameter>
        <parameter name="confirm_pass" value=""></parameter>
        <parameter name="nameErrorMessage" value="Name is required"></parameter>
        <parameter name="usernameErrorMessage" value="Username is required"></parameter>
        <parameter name="emailErrorMessage" value="Email is required"></parameter>
        <parameter name="mobileNumberErrorMessage" value="Mobile number is required"></parameter>
        <parameter name="passwordErrorMessage" value="Password is required"></parameter>
        <parameter name="confirmPasswordErrorMessage" value="Password is required"></parameter>
        <classes>
            <class name="skyfoxapp.testcases.customersignuptest.ValidatingAllFieldsNegativeTest"></class>
        </classes>
    </test>

    <test name="UsernameChecking">
        <parameter name="name" value="aswini"></parameter>
        <parameter name="user_name" value="seed-user-1"></parameter>
        <parameter name="email_id" value="aswini@gmail.com"></parameter>
        <parameter name="mobile_num" value="9087654123"></parameter>
        <parameter name="pass" value="Aswini.1"></parameter>
        <parameter name="confirm_pass" value="Aswini.1"></parameter>
        <parameter name="errorMessage" value="A user with the username already exists"></parameter>
        <classes>
            <class name="skyfoxapp.testcases.customersignuptest.ValidatingAlreadyExistingUsernameTest"></class>
        </classes>
    </test>

    <test name="EmailCheckingwithoutAstreik">
        <parameter name="name" value="aswini"></parameter>
        <parameter name="user_name" value="aswini"></parameter>
        <parameter name="email_id" value="aswinigmail.com"></parameter>
        <parameter name="mobile_num" value="9087654123"></parameter>
        <parameter name="pass" value="Aswini.1"></parameter>
        <parameter name="confirm_pass" value="Aswini.1"></parameter>
        <parameter name="errorMessage" value="Invalid Email"></parameter>
        <classes>
            <class name="skyfoxapp.testcases.customersignuptest.ValidatingEmailIdTest"></class>
        </classes>
    </test>
    <test name="EmailCheckingwithoutDot">
        <parameter name="name" value="aswini"></parameter>
        <parameter name="user_name" value="aswini"></parameter>
        <parameter name="email_id" value="aswini@gmailcom"></parameter>
        <parameter name="mobile_num" value="9087654123"></parameter>
        <parameter name="pass" value="Aswini.1"></parameter>
        <parameter name="confirm_pass" value="Aswini.1"></parameter>
        <parameter name="errorMessage" value="Invalid Email"></parameter>
        <classes>
            <class name="skyfoxapp.testcases.customersignuptest.ValidatingEmailIdTest"></class>
        </classes>
    </test>
    <test name="MobileNumberValdatingWithLessThan10Digit">
        <parameter name="name" value="aswini"></parameter>
        <parameter name="user_name" value="aswini"></parameter>
        <parameter name="email_id" value="aswini@gmail.com"></parameter>
        <parameter name="mobile_num" value="9087654"></parameter>
        <parameter name="pass" value="Aswini.1"></parameter>
        <parameter name="confirm_pass" value="Aswini.1"></parameter>
        <parameter name="errorMessage" value="Enter a valid mobile number"></parameter>
        <classes>
            <class name="skyfoxapp.testcases.customersignuptest.ValidatingMobileNumberTest"></class>
        </classes>
    </test>
    <test name="MobileNumberValdatingWithMorehan10Digit">
        <parameter name="name" value="aswini"></parameter>
        <parameter name="user_name" value="aswini"></parameter>
        <parameter name="email_id" value="aswini@gmail.com"></parameter>
        <parameter name="mobile_num" value="908765423456789"></parameter>
        <parameter name="pass" value="Aswini.1"></parameter>
        <parameter name="confirm_pass" value="Aswini.1"></parameter>
        <parameter name="errorMessage" value="Enter a valid mobile number"></parameter>
        <classes>
            <class name="skyfoxapp.testcases.customersignuptest.ValidatingMobileNumberTest"></class>
        </classes>
    </test>
    <test name="passwordWithoutUppercase">
        <parameter name="name" value="aswini"></parameter>
        <parameter name="user_name" value="aswini"></parameter>
        <parameter name="email_id" value="aswini@gmail.com"></parameter>
        <parameter name="mobile_num" value="9087654321"></parameter>
        <parameter name="pass" value="aswini.1"></parameter>
        <parameter name="confirm_pass" value="aswini.1"></parameter>
        <parameter name="errorMessage" value="Password must contain 8-64 characters,&#xA;at least one uppercase character,&#xA;one number and one special character"></parameter>
        <classes>
            <class name="skyfoxapp.testcases.customersignuptest.ValidatingPasswordTest"></class>
        </classes>
    </test>
    <test name="passwordWithoutDigit">
        <parameter name="name" value="aswini"></parameter>
        <parameter name="user_name" value="aswini"></parameter>
        <parameter name="email_id" value="aswini@gmail.com"></parameter>
        <parameter name="mobile_num" value="9087654321"></parameter>
        <parameter name="pass" value="Aswini.."></parameter>
        <parameter name="confirm_pass" value="Aswini.."></parameter>
        <parameter name="errorMessage" value="Password must contain 8-64 characters,&#xA;at least one uppercase character,&#xA;one number and one special character"></parameter>
        <classes>
            <class name="skyfoxapp.testcases.customersignuptest.ValidatingPasswordTest"></class>
        </classes>
    </test>
    <test name="passwordWithoutSpecialCharacter">
        <parameter name="name" value="aswini"></parameter>
        <parameter name="user_name" value="aswini"></parameter>
        <parameter name="email_id" value="aswini@gmail.com"></parameter>
        <parameter name="mobile_num" value="9087654321"></parameter>
        <parameter name="pass" value="Aswini11"></parameter>
        <parameter name="confirm_pass" value="Aswini11"></parameter>
        <parameter name="errorMessage" value="Password must contain 8-64 characters,&#xA;at least one uppercase character,&#xA;one number and one special character"></parameter>
        <classes>
            <class name="skyfoxapp.testcases.customersignuptest.ValidatingPasswordTest"></class>
        </classes>
    </test>
    <test name="passwordWithLessThan8digits">
        <parameter name="name" value="aswini"></parameter>
        <parameter name="user_name" value="aswini"></parameter>
        <parameter name="email_id" value="aswini@gmail.com"></parameter>
        <parameter name="mobile_num" value="9087654321"></parameter>
        <parameter name="pass" value="Abc.1"></parameter>
        <parameter name="confirm_pass" value="Abc.1"></parameter>
        <parameter name="errorMessage" value="Password must contain 8-64 characters,&#xA;at least one uppercase character,&#xA;one number and one special character"></parameter>
        <classes>
            <class name="skyfoxapp.testcases.customersignuptest.ValidatingPasswordTest"></class>
        </classes>
    </test>
    <test name="passwordWithGreaterThan64digits">
        <parameter name="name" value="aswini"></parameter>
        <parameter name="user_name" value="aswini"></parameter>
        <parameter name="email_id" value="aswini@gmail.com"></parameter>
        <parameter name="mobile_num" value="9087654321"></parameter>
        <parameter name="pass" value="A group of words containing a subject and a verb, that expresses a statement, a question, etc1."></parameter>
        <parameter name="confirm_pass" value="A group of words containing a subject and a verb, that expresses a statement, a question, etc1."></parameter>
        <parameter name="errorMessage" value="Password must contain 8-64 characters,&#xA;at least one uppercase character,&#xA;one number and one special character"></parameter>
        <classes>
            <class name="skyfoxapp.testcases.customersignuptest.ValidatingPasswordTest"></class>
        </classes>
    </test>
    <test name="passwordDoesNotMatchConfirmPass">
            <parameter name="name" value="aswini"></parameter>
            <parameter name="user_name" value="aswini"></parameter>
            <parameter name="email_id" value="aswini@gmail.com"></parameter>
            <parameter name="mobile_num" value="9087654321"></parameter>
            <parameter name="pass" value="Aswini.1"></parameter>
            <parameter name="confirm_pass" value="aswini.1"></parameter>
            <parameter name="errorMessage" value="Password and confirm password do not match"></parameter>
            <classes>
                <class name="skyfoxapp.testcases.customersignuptest.ValidatingConfirmPasswordtTest"></class>
            </classes>
        </test>

    <test name="PositiveScheduleTests" >
        <parameter name="username" value="seed-user-1" />
        <parameter name="password" value="Skyfox@2" />
        <parameter name="cost" value="200" />
        <classes>
            <class name="skyfoxapp.testcases.addMovieScheduleTest.PositiveScheduleTest"/>
        </classes>
    </test>

    <test name="NegativeScheduleTests" >
        <parameter name="username" value="seed-user-1" />
        <parameter name="password" value="Skyfox@2" />
        <parameter name="cost" value="vmn" />
        <parameter name="expectedFailureMessage" value="Invalid cost"/>
        <classes>
            <class name="skyfoxapp.testcases.addMovieScheduleTest.NegativeScheduleTest"/>
        </classes>
    </test>
</suite>
